
img {
    display: block;
    margin:  auto;
    padding-top: 109px;
}

.logo {
    margin-top: 47px;
    height: 233px;
}

.search {
    position: static;
    max-width: 100%;
    margin: auto;
    height: 52px;
}