
body, a, p {
    font-family: Helvetica, sans-serif;
}


#gimg {
    display: block;
    margin:  auto;
    padding-top: 109px;
}
#footera{
    color: #5f6368;
}
a:link{
    color: rgba(0,0,0,0.87);
}
a:visited {
    color: black;
}
a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}


li {
    display: flex;
    padding: 0 10px 0 10px;
    text-decoration: none;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    align-items: center;

}


.logo {
    height: 233px;
}

.search {
    position: static;
    max-width: 100%;
    margin: auto;
    height: 52px;
}

.formsize {
    margin: auto;
    max-width: none;
    height: 52px;
}

.sdiv {
    margin: auto;
    width: 584px;
    padding-top: 6px;
    height: 46px;
}

.borderdiv {
    display: flex;
    height: 45px;
    width: 583px;
    border: 1px solid rgba(223,225,229,1);
    border-radius: 24px;
}
.inputstyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
    border:none;
    background-color: transparent;
    width: 400px;
    height: 40px;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.navbar {
    display: flex;
    height: 42px;

}


#googleapp {
    display: flex;
    width: 26px;
    height: 26px;
    opacity: .6;
   
}

#googleapp:hover{
    opacity: 1;
}

.gappmenu {
    display: flex;
    top: 20px;
    align-self: center;
    vertical-align: none;
    padding-top: -15px;
    padding-right: 20px;
    text-align: none;
}




.navdiv {
    margin:22px 15px 0 15px;
    width: 100%;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ulleft {
    display:inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.ulright {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.signin {
    display: flex;
    flex-direction: row;
    height:26px;
    background-image: linear-gradient(0deg, #4387fd,#4683ea);
    border-radius: 2px;
    border: 1px solid #4285f4;
    padding: 0 12px;
}
#signin {
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    cursor: default;
    text-decoration: none;
   
   
}

.signin:active {
    color:#3672db;
}

.buttonsdiv1 {
    height: 70px;
    padding: 0px 18px 0px;
}

.bcenterdiv2 {
    display: flex;
    height: 58px;
}

.buttonscenter {
    justify-content: center;
    display: flex;
    margin: auto;
    width:584px;
}

input[type="submit"] {
background-color: #f2f2f2;
cursor: pointer;
text-align: center;
border: 1px solid #f2f2f2;
border-radius: 4px;
font-size: 14px;
color: #5F6368;
min-width: 56px;
padding:0px 16px;
margin: 11px 7px;
height: 36px;
min-width: 54px;
line-height: 27px;
}

input[type="submit"]:hover {
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
background-image: linear-gradient(0deg,#f8f8f8,#f1f1f1);
background-color: #f8f8f8;
border: 1px solid #c6c6c6;
color: #222;
}








.footerpos {
    position: absolute;
    bottom:0px;
    width: 100%;
    height: 42px;

}
.footernav {
    position: absolute;
    bottom: 0px;
    display:flex;
    height: 41px;
    width:100%;
    background-color: #f2f2f2;
}

.footernavdiv {
    height: 40px;
    width:100%;
    margin-right: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 40px;
}

.fulleft {
    display: inline-flex;

}

.fulright {
    display: inline-flex;
}

#footerli {
    font-size: 14px;
    padding: 0 0 0 27px;
}

