
img {
    display: block;
    margin:  auto;
    padding-top: 109px;
}

.logo {
    margin-top: 47px;
    height: 233px;
}

.search {
    position: static;
    max-width: 100%;
    margin: auto;
    height: 52px;
}

.formsize {
    margin: auto;
    max-width: none;
    height: 52px;
}

.sdiv {
    width: 584px;
    padding-top: 6px;
    padding-left: 220px;
    padding-right: 220px;
}